/* CSS RESET */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* ====================================================================================================== */

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #e4e2dd;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: none;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #aaaaaa;
}

#main {
  font-family: "Montserrat", sans-serif;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e4e2dd;
  overflow-x: hidden;
  position: relative;
}

#bg {
  background-color: #242424;
  width: 200%;
  position: absolute;
  transition: all 1.5s ease-in-out;
  transform: translateX(25%);
  height: 100vh;
  height: 100svh;
  animation: bgAnimation 2s ease-in-out;
}

@keyframes bgAnimation {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(25%);
  }
}

.pages {
  height: 100%;
  margin: 0 auto;
}

.whiteSpace {
  margin: 0 auto;
  max-width: 1024px;
}

/* Page 1 */

#page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: 100svh;
}

.name {
  font-size: 2.5rem;
  width: 50%;
  mix-blend-mode: difference;
  color: #e4e2dd;
}

#laurenz {
  margin-right: auto;
  text-align: end;
  padding-right: 10px;
  animation: right 1.5s ease-in-out forwards;
}

#julian {
  margin-left: auto;
  padding-left: 10px;
  animation: left 1.5s ease-in-out forwards;
}

@keyframes left {
  0% {
    transform: translateX(-300%);
  }
  1000% {
    transform: translateX(0%);
  }
}

@keyframes right {
  0% {
    transform: translateX(300%);
  }
  1000% {
    transform: translateX(0%);
  }
}

.subtitle {
  display: flex;
  width: 100%;
  justify-content: center;
  mix-blend-mode: difference;
  color: #e4e2dd;
  font-size: 1rem;
}

#designer {
  width: 48%;
  text-align: end;
  margin-right: 2%;
  animation: left 1.5s ease-in-out forwards;
}

#content-creator {
  width: 48%;
  margin-left: 2%;
  animation: right 1.5s ease-in-out forwards;
}

/* Page 2 */

#page2 {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  height: 100vh;
  height: 100svh;
}

.aboutMe {
  transition: all 1s ease-in-out;
  color: #242424;
  font-size: 3rem;
  white-space: nowrap;
  width: 60%;
  font-family: "Lilita One", cursive;
  margin-bottom: 150px;
}

.aboutMeGreetings {
  transition: all 1s ease-in-out;
  color: #242424;
  width: 60%;
  font-size: 1.5rem;
  opacity: 1;
  font-family: "Noto Sans NKo Unjoined", sans-serif;
  margin-bottom: 50px;
}

.aboutMeIntroduce {
  transition: all 1s ease-in-out;
  color: #242424;
  width: 60%;
  font-size: 1rem;
  opacity: 1;
  font-family: "Noto Sans NKo Unjoined", sans-serif;
}

.pic {
  transition: all 1s ease-in-out;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  width: 40%;
  right: 0;
  top: 25%;
  transform: translateX(50px);
  object-fit: contain;
  overflow: hidden;
}

#picImage {
  transform: scale(1.5);
}

.hider {
  width: 100%;
  height: 100%;
  background-color: #242424;
  position: absolute;
  transition: all 1s ease-in-out;
}

/* Page 3 */

.page3 {
  width: 100%;
  height: auto;
}

.work1 {
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding-top: 50px;
}

.work1bg {
  background-color: #3e3e3e;
}

.work-title {
  color: #e4e2dd;
  font-family: "Dela Gothic One", cursive;
  text-align: center;
  font-size: 2.5em;
  transform: translateY(50%);
  transition: all 500ms linear;
}

.work-image {
  margin: 20px 20px;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  opacity: 0;
  object-fit: contain;
  width: 80%;
}

.work2bg {
  background-color: #9b9e4f;
}

.work2 {
  width: 100%;
  transition: all 0.3s ease-in-out;
  padding-top: 50px;
}

.work-images-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
  gap: 1em;
}

/* Page 4 */

#page4 {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bgCommentary {
  position: absolute;
  font-size: 8vw;
  width: 100%;
  user-select: none;
}

.bgText {
  font-family: "Dela Gothic One", cursive;
  -webkit-text-stroke: 1px #242424;
  opacity: 0.5;
  color: transparent;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  margin-top: -10px;
  position: relative;
}

.bgText-hider {
  width: 100%;
  background-color: #e4e2dd;
  height: 100%;
  position: absolute;
  right: 0;
  transition: all 1s ease-in-out;
  top: 0;
}

/*for comments*/

#commentary-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.comment {
  height: 300px;
  width: 400px;
  background-color: #e4e2dd;
  border: 1px solid #24242475;
  border-radius: 20px;
  margin: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.comment-text {
  margin: 60px 20px 20px 20px;
  text-align: justify;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
  transform: scale(0);
  font-size: 1em;
}

.comment-line {
  height: 1px;
  width: 0%;
  background-color: #242424;
  transition: all 1s ease-in-out;
  transition-delay: 1.5s;
  margin-top: 50px;
}

.comment-author {
  margin: auto 20px 20px 20px;
  font-size: 1.5em;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
  transform: scale(0);
}

.comment-hider {
  width: 110%;
  height: 110%;
  background-color: #e4e2dd;
  position: absolute;
  transition: all 1s ease-in-out;
}

/* Page 5 */

#page5 {
  background-color: #242424;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  color: #e4e2dd;
}

.contact-title {
  font-size: 3em;
  text-align: center;
  margin-top: 100px;
  transition: all 1s ease-in-out;
  transform: translateY(50px);
  opacity: 0;
}

.contact-line {
  width: 0%;
  height: 1px;
  background-color: #e4e2dd;
  margin: 50px 0;
  transition: all 1s ease-in-out;
}

.contact-details-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.contact {
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
}

#address {
  margin-bottom: 50px;
}

.contact-detail-name {
  font-size: 2em;
}

.contact-detail {
  font-size: 1em;
}

/* material icon */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.contact-icon {
  width: 80px;
}

/*navigation*/
.mobile-nav-container {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 1rem;
  z-index: 10;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: #242424;
  background-color: #e4e2dd;
  padding: 5px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: all 0.5s ease-in-out;
  transform: translateY(0%);
}

.mobile-nav-hide {
  transform: translateY(-110%);
}

#nav-logo {
  margin-right: auto;
}

.mobile-nav {
  margin: 5px 10px;
  font-size: 0.8rem;
  user-select: none;
  cursor: pointer;
}

/* dekstop nav*/

.desktop-nav-container {
  display: none;
}

/* Desktop Media */

@media (min-width: 768px) {
  #main {
    font-family: "Dela Gothic One", cursive;
    font-family: "Lilita One", cursive;
    font-family: "Montserrat", sans-serif;
    font-family: "Noto Sans NKo Unjoined", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e4e2dd;
  }

  /* Page 1 */

  .name {
    font-size: 6rem;
    width: 50%;
    mix-blend-mode: difference;
    color: #e4e2dd;
  }

  .subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    mix-blend-mode: difference;
    color: #e4e2dd;
    font-size: 1.5rem;
  }

  /* Page 2 */
  #page2 {
    overflow: hidden;
  }

  .aboutMe {
    font-size: 5rem;
    left: 0;
    height: auto;
    margin-left: 30px;
  }

  .aboutMeGreetings {
    font-size: 3rem;
    height: auto;
    margin-left: 30px;
  }

  .aboutMeIntroduce {
    font-size: 2rem;
    height: auto;
    margin-left: 30px;
  }

  .pic {
    top: 0;
    height: 100vh;
    height: 100svh;
  }

  .work-title {
    font-size: 5rem;
    text-align: left;
    width: 100%;
    padding-left: 50px;
  }

  .work-images-container {
    transform: rotate(-5deg);
  }

  .work-image {
    height: 400px;
    width: 400px;
    object-fit: contain;
  }

  /* Page 4 */

  #comment1 {
    transform: rotate(10deg);
  }
  #comment2 {
    margin-top: 100px;
    transform: rotate(-5deg);
  }
  #comment3 {
    transform: rotate(-25deg);

    margin: 30px 0px 100px 0px;
  }

  #comment4 {
    transform: rotate(15deg);
  }

  .comment {
    width: 320px;
    height: 280px;
  }

  /* Page 5*/

  .contact-title {
    font-size: 5em;
  }
  .contact {
    height: 300px;
  }

  /*nav*/
  .desktop-nav-container {
    position: fixed;
    left: 10px;
    top: 20px;
    font-size: 1rem;
    z-index: 10;
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    mix-blend-mode: difference;
  }

  .desktop-nav-container img {
    height: 30px;
    width: 30px;
  }

  .desktop-line-nav {
    height: 100%;
    width: 2px;
    border-radius: 99px;
    background-color: #ffffff;
  }

  .desktop-line-nav-fill {
    width: 100%;
    height: 50%;
    background-color: #f77878;
    border-radius: 99px;
    box-shadow: 0 0 15px 2px #f77878;
  }

  .desktop-line-nav-container {
    height: 100%;
    display: flex;
  }

  .desktop-nav-menu-container {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 30px;
    position: absolute;
    overflow: hidden;
    margin-top: 20px;
  }

  .desktop-nav-menu {
    color: #f77878;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    writing-mode: vertical-rl;
  }

  .desktop-nav-menu-hider {
    transform: translateX(-30px);
  }

  .mobile-nav-container {
    display: none;
  }
}

@media (min-width: 1024px) {
  .comment {
    width: 400px;
    height: 300px;
  }

  #page5 {
    height: 100vh;
  }
}

/* for animation please put always to the last for it to work */

.animationContainer {
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.reveal {
  width: 0%;
}

.comment-line-grow {
  width: 50%;
}

.grow {
  transform: scale(1);
}

.contact-line-grow {
  width: 80%;
}
