/* CSS RESET */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* ====================================================================================================== */

#main {
  font-family: "Montserrat", sans-serif;
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  overflow-x: hidden;
}

#bg {
  background-color: #242424;
  width: 200%;
  position: absolute;
  transition: all 1.5s ease-in-out;
  transform: translateX(-200%);
  height: 200vh;
  height: 200svh;
}

#content {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
}

.pages {
  height: 100vh;
  height: 100svh;
  width: 100%;
}

/* Page 1 */

#page1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 2.5rem;
  width: 50%;
  mix-blend-mode: difference;
  color: #ffffff;
}

#laurenz {
  margin-right: auto;
  text-align: end;
  padding-right: 10px;
  animation: right 1.5s ease-in-out forwards;
}

#julian {
  margin-left: auto;
  padding-left: 10px;
  animation: left 1.5s ease-in-out forwards;
}

@keyframes left {
  0% {
    transform: translateX(-300%);
  }
  1000% {
    transform: translateX(0%);
  }
}

@keyframes right {
  0% {
    transform: translateX(300%);
  }
  1000% {
    transform: translateX(0%);
  }
}

.subtitle {
  display: flex;
  width: 100%;
  justify-content: center;
  mix-blend-mode: difference;
  color: #ffffff;
  font-size: 1rem;
}

#designer {
  width: 48%;
  text-align: end;
  margin-right: 2%;
  animation: left 1.5s ease-in-out forwards;
}

#content-creator {
  width: 48%;
  margin-left: 2%;
  animation: right 1.5s ease-in-out forwards;
}

/* Page 2 */

#page2 {
  position: relative;
}

.aboutMe {
  top: 10%;
  transition: all 1s ease-in-out;
  color: #ffffff;
  mix-blend-mode: difference;
  position: absolute;
  width: 40%;
  text-align: center;
  font-size: 2.5rem;
  opacity: 0;
  transform: translateX(-50px);
  left: 10%;
}

.aboutMeGreetings {
  top: 40%;
  transition: all 1s ease-in-out;
  color: #ffffff;
  mix-blend-mode: difference;
  position: absolute;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  opacity: 0;
  transform: translateX(-50px);
}

.aboutMeIntroduce {
  top: 50%;
  transition: all 1s ease-in-out;
  color: #ffffff;
  mix-blend-mode: difference;
  position: absolute;
  width: 60%;
  text-align: center;
  font-size: 1rem;
  opacity: 0;
  transform: translateX(-50px);
}

.pic {
  transition: all 1s ease-in-out;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  opacity: 1;
  width: 40%;
  right: 0;
  top: 25%;
  opacity: 0;
  transform: translateX(50px);
  mix-blend-mode: difference;
  object-fit: contain;
  overflow: hidden;
}

#picImage {
  transform: scale(1.5);
}

.visible {
  opacity: 1;
  transform: translateX(0);
}

.visiblePic {
  opacity: 1;
  transform: translateX(0);
}

/* Page 3 */

#page3 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#works {
  width: 100%;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 50px;
}

/* Desktop Media */

@media (min-width: 768px) {
  #main {
    font-family: "Montserrat", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
  }

  /* Page 1 */

  .name {
    font-size: 5rem;
    width: 50%;
    mix-blend-mode: difference;
    color: #ffffff;
  }

  .subtitle {
    display: flex;
    width: 100%;
    justify-content: center;
    mix-blend-mode: difference;
    color: #ffffff;
    font-size: 1.5rem;
  }

  /* Page 2 */
  .aboutMe {
    font-size: 5rem;
    left: 0;
    width: 60%;
  }

  .aboutMeGreetings {
    font-size: 3rem;
  }

  .aboutMeIntroduce {
    padding: 0 50px;
    font-size: 1.5rem;
  }

  .pic {
    top: 0;
    height: 100vh;
    height: 100svh;
  }

  /* Page 3 */

  #page3 {
    border-bottom: 1px #000000 solid;
    overflow: hidden;
  }

  #works {
    font-size: 5rem;
  }

  #works-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  #vertical-line {
    width: 1px;
    background-color: #000000;
    margin: 0 1px;
  }
  #right-container {
    width: 50%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
  }

  .left-work-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }

  .hide-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: all 2.5s ease-in-out;
    z-index: 2;
  }

  .hide-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: all 2.5s ease-in-out;
    z-index: 2;
  }

  .reveal {
    width: 0%;
  }

  .image-container {
    width: 60%;
    border: 1px #000000 solid;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .work-image {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }

  .work-image:hover {
    transform: translate(0, 0) scale(1);
  }

  .horizontal-line {
    width: 40%;
    height: 1px;
    background-color: #000000;
  }

  .right-work-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    height: 300px;
    position: relative;
    overflow: hidden;
  }
}
